In [7]:
#import pandas as pd
#import numpy as np
#import src.functions_scrapping as srcs
#import requests
#from bs4 import BeautifulSoup

In [8]:
#url ='https://cincodias.elpais.com/mercados/materias-primas/oro/2/'
#html= requests.get(url)
#soup = BeautifulSoup(html.content, "html.parser")

In [9]:
#tabla = soup.find_all("table")[0]   # Is the first and the last table of the url but we check it out.
#print(tabla)

<table class="tabla3 tabla4" summary="resumen del contenido de la tabla">
<caption>Histórico</caption>
<thead>
<tr>
<th scope="col">Fecha</th>
<th scope="col">Cierre</th>
<th scope="col">Var %</th>
<th scope="col">Máximo</th>
<th class="ultimo" scope="col">Mínimo</th>
<th scope="col">Cambio neto</th>
</tr>
</thead>
<tbody>
<tr class="par">
<th>15-04-2021</th>
<td>1.746,24</td>
<td>0,59</td>
<td>1.748,90</td>
<td>1.734,71</td>
<td>10,24</td>
</tr> <tr>
<th>14-04-2021</th>
<td>1.736,00</td>
<td>-0,45</td>
<td>1.749,16</td>
<td>1.732,96</td>
<td>-7,83</td>
</tr>
<tr class="par">
<th>13-04-2021</th>
<td>1.743,83</td>
<td>0,65</td>
<td>1.748,67</td>
<td>1.723,86</td>
<td>11,32</td>
</tr>
<tr>
<th>12-04-2021</th>
<td>1.732,51</td>
<td>-0,61</td>
<td>1.744,72</td>
<td>1.727,76</td>
<td>-10,59</td>
</tr>
<tr class="par">
<th>09-04-2021</th>
<td>1.743,10</td>
<td>-0,73</td>
<td>1.757,04</td>
<td>1.731,68</td>
<td>-12,84</td>
</tr>
<tr>
<th>08-04-2021</th>
<td>1.755,94</td>
<td>1,07</td>
<td>1.758,45</td>
<td>1.733,58</td>
<td>18,66</td>
</tr>
<tr class="par">
<th>07-04-2021</th>
<td>1.737,28</td>
<td>-0,36</td>
<td>1.744,04</td>
<td>1.730,76</td>
<td>-6,29</td>
</tr>
<tr>
<th>06-04-2021</th>
<td>1.743,45</td>
<td>0,87</td>
<td>1.745,15</td>
<td>1.727,64</td>
<td>15,01</td>
</tr>
<tr class="par">
<th>05-04-2021</th>
<td>1.728,44</td>
<td>-0,02</td>
<td>1.733,30</td>
<td>1.721,61</td>
<td>-0,40</td>
</tr>
<tr>
<th>02-04-2021</th>
<td>1.728,84</td>
<td>-0,08</td>
<td>1.731,09</td>
<td>1.729,60</td>
<td>-1,34</td>
</tr>
<tr class="par">
<th>01-04-2021</th>
<td>1.730,18</td>
<td>1,36</td>
<td>1.730,30</td>
<td>1.706,11</td>
<td>23,17</td>
</tr>
<tr>
<th>31-03-2021</th>
<td>1.707,01</td>
<td>1,32</td>
<td>1.714,95</td>
<td>1.678,24</td>
<td>22,21</td>
</tr>
<tr class="par">
<th>30-03-2021</th>
<td>1.684,80</td>
<td>-1,59</td>
<td>1.714,32</td>
<td>1.679,30</td>
<td>-27,20</td>
</tr>
<tr>
<th>29-03-2021</th>
<td>1.711,99</td>
<td>-1,15</td>
<td>1.732,79</td>
<td>1.706,26</td>
<td>-19,97</td>
</tr>
<tr class="par">
<th>26-03-2021</th>
<td>1.731,97</td>
<td>0,30</td>
<td>1.736,51</td>
<td>1.721,86</td>
<td>5,15</td>
</tr>
<tr>
<th>25-03-2021</th>
<td>1.727,91</td>
<td>0,06</td>
<td>1.728,78</td>
<td>1.727,59</td>
<td>1,09</td>
</tr>
<tr class="par">
<th>24-03-2021</th>
<td>1.734,26</td>
<td>0,00</td>
<td>1.734,78</td>
<td>1.733,95</td>
<td>0,07</td>
</tr>
<tr>
<th>23-03-2021</th>
<td>1.726,50</td>
<td>-0,04</td>
<td>1.727,28</td>
<td>1.727,18</td>
<td>-0,61</td>
</tr>
<tr class="par">
<th>22-03-2021</th>
<td>1.739,35</td>
<td>0,04</td>
<td>1.739,45</td>
<td>1.738,83</td>
<td>0,66</td>
</tr>
<tr>
<th>19-03-2021</th>
<td>1.744,74</td>
<td>0,48</td>
<td>1.746,36</td>
<td>1.728,66</td>
<td>8,33</td>
</tr>
<tr class="par">
<th>18-03-2021</th>
<td>1.736,10</td>
<td>-0,02</td>
<td>1.737,53</td>
<td>1.734,78</td>
<td>-0,31</td>
</tr>
<tr>
<th>17-03-2021</th>
<td>1.747,06</td>
<td>0,15</td>
<td>1.749,31</td>
<td>1.744,80</td>
<td>2,62</td>
</tr>
<tr class="par">
<th>16-03-2021</th>
<td>1.730,45</td>
<td>-0,03</td>
<td>1.732,23</td>
<td>1.730,93</td>
<td>-0,49</td>
</tr>
<tr>
<th>15-03-2021</th>
<td>1.731,12</td>
<td>-0,04</td>
<td>1.732,01</td>
<td>1.731,07</td>
<td>-0,72</td>
</tr>
<tr class="par">
<th>12-03-2021</th>
<td>1.724,89</td>
<td>0,20</td>
<td>1.727,64</td>
<td>1.699,61</td>
<td>3,48</td>
</tr>
<tr>
<th>11-03-2021</th>
<td>1.722,44</td>
<td>0,06</td>
<td>1.722,44</td>
<td>1.721,98</td>
<td>1,03</td>
</tr>
<tr class="par">
<th>10-03-2021</th>
<td>1.726,40</td>
<td>0,02</td>
<td>1.726,48</td>
<td>1.726,73</td>
<td>0,35</td>
</tr>
<tr>
<th>09-03-2021</th>
<td>1.715,50</td>
<td>0,01</td>
<td>1.715,76</td>
<td>1.715,23</td>
<td>0,14</td>
</tr>
<tr class="par">
<th>08-03-2021</th>
<td>1.683,23</td>
<td>0,12</td>
<td>1.683,67</td>
<td>1.682,85</td>
<td>1,98</td>
</tr>
<tr>
<th>05-03-2021</th>
<td>1.700,71</td>
<td>0,21</td>
<td>1.707,31</td>
<td>1.687,84</td>
<td>3,52</td>
</tr>
<tr class="par">
<th>04-03-2021</th>
<td>1.698,08</td>
<td>0,05</td>
<td>1.698,66</td>
<td>1.697,73</td>
<td>0,89</td>
</tr>
<tr>
<th>03-03-2021</th>
<td>1.709,61</td>
<td>-0,08</td>
<td>1.712,21</td>
<td>1.709,93</td>
<td>-1,34</td>
</tr>
<tr class="par">
<th>02-03-2021</th>
<td>1.737,94</td>
<td>-0,01</td>
<td>1.738,75</td>
<td>1.738,37</td>
<td>-0,15</td>
</tr>
<tr>
<th>01-03-2021</th>
<td>1.724,44</td>
<td>0,08</td>
<td>1.724,78</td>
<td>1.724,33</td>
<td>1,34</td>
</tr>
<tr class="par">
<th>26-02-2021</th>
<td>1.732,60</td>
<td>-2,11</td>
<td>1.775,51</td>
<td>1.717,66</td>
<td>-37,28</td>
</tr>
<tr>
<th>25-02-2021</th>
<td>1.769,91</td>
<td>0,00</td>
<td>1.770,44</td>
<td>1.769,58</td>
<td>0,03</td>
</tr>
<tr class="par">
<th>24-02-2021</th>
<td>1.805,07</td>
<td>0,04</td>
<td>1.805,36</td>
<td>1.804,93</td>
<td>0,71</td>
</tr>
<tr>
<th>23-02-2021</th>
<td>1.805,19</td>
<td>0,01</td>
<td>1.805,56</td>
<td>1.805,33</td>
<td>0,13</td>
</tr>
<tr class="par">
<th>22-02-2021</th>
<td>1.809,07</td>
<td>0,02</td>
<td>1.809,39</td>
<td>1.809,28</td>
<td>0,41</td>
</tr>
<tr>
<th>19-02-2021</th>
<td>1.782,25</td>
<td>0,38</td>
<td>1.791,16</td>
<td>1.760,97</td>
<td>6,76</td>
</tr>
<tr class="par">
<th>18-02-2021</th>
<td>1.775,57</td>
<td>0,01</td>
<td>1.776,01</td>
<td>1.775,78</td>
<td>0,08</td>
</tr>
</tbody>
</table>

In [10]:
#elemento = tabla.find_all("tr")[1].find_all("td")[0]   # We have already tracked the data!
#elemento

In [5]:
#date = []
#values = []

#for f in tabla.find_all("tr"):   # List with table rows.
    #fila =[e for e in f.find_all("th")]   # Elements within the row.
    #if fila :
        #day = {"day": fila[0].text}   # Creating a dic with the day.
        #date.append(day)   # Appending the data to the list.
#date.pop(0)   # Deleting the first row to be able to merge it.
#print(date)

#for f in tabla.find_all("tr"):   # List with table rows.
    #fila =[e for e in f.find_all("td")]   # Elements within the row.
    #if fila:
        #value = (fila[0].text)   # Creating a list with the price.
        #values.append(value)   # Appending the data to the list.

#print(values)

[{'day': '12-04-2021'}, {'day': '09-04-2021'}, {'day': '08-04-2021'}, {'day': '07-04-2021'}, {'day': '06-04-2021'}, {'day': '05-04-2021'}, {'day': '02-04-2021'}, {'day': '01-04-2021'}, {'day': '31-03-2021'}, {'day': '30-03-2021'}, {'day': '29-03-2021'}, {'day': '26-03-2021'}, {'day': '25-03-2021'}, {'day': '24-03-2021'}, {'day': '23-03-2021'}, {'day': '22-03-2021'}, {'day': '19-03-2021'}, {'day': '18-03-2021'}, {'day': '17-03-2021'}, {'day': '16-03-2021'}, {'day': '15-03-2021'}, {'day': '12-03-2021'}, {'day': '11-03-2021'}, {'day': '10-03-2021'}, {'day': '09-03-2021'}, {'day': '08-03-2021'}, {'day': '05-03-2021'}, {'day': '04-03-2021'}, {'day': '03-03-2021'}, {'day': '02-03-2021'}, {'day': '01-03-2021'}, {'day': '26-02-2021'}, {'day': '25-02-2021'}, {'day': '24-02-2021'}, {'day': '23-02-2021'}, {'day': '22-02-2021'}, {'day': '19-02-2021'}, {'day': '18-02-2021'}, {'day': '17-02-2021'}, {'day': '16-02-2021'}, {'day': '15-02-2021'}]
['1.733,14', '1.743,10', '1.755,94', '1.737,28', '1.743,45', '1.728,44', '1.728,84', '1.730,18', '1.707,01', '1.684,80', '1.711,99', '1.731,97', '1.727,91', '1.734,26', '1.726,50', '1.739,35', '1.744,74', '1.736,10', '1.747,06', '1.730,45', '1.731,12', '1.724,89', '1.722,44', '1.726,40', '1.715,50', '1.683,23', '1.700,71', '1.698,08', '1.709,61', '1.737,94', '1.724,44', '1.732,60', '1.769,91', '1.805,07', '1.805,19', '1.809,07', '1.782,25', '1.775,57', '1.774,78', '1.794,44', '1.818,51']

In [6]:
#dfs = pd.DataFrame(date)   # Creating a df with the date
#dfs["price"] = values   # Creating a new column with the price 
#dfs["price"] = dfs.price.apply(srcs.convertir_valor)   # Converting price column from string to float
#dfs=dfs.assign(currency="$")   # Creating a new column with the currency of the prices of the df
#dfs = dfs.drop_duplicates()   # Deliting the dublicate rows (first)
#dfs.head()

          day    price currency
0  12-04-2021  1733.14        $
1  09-04-2021  1743.10        $
2  08-04-2021  1755.94        $
3  07-04-2021  1737.28        $
4  06-04-2021  1743.45        $

In [7]:
#dfs["year"] = dfs["day"].apply(srcs.year)   # Adding a new column for the years of the Date column

#dfs["month"] = dfs["day"].apply(srcs.month)   # Adding a new column for the months of the Date column

#dfs["day"] = dfs["day"].apply(srcs.day)   # Adding a new column for the years of the Date column

#dfs = dfs[['year','month','day','price','currency']]   # Ordering my df

#dfs = dfs.sort_index(ascending=False)   # Reorganizing the df to merge it later with the dfh

#dfs.tail()

   year  month  day    price currency
4  2021  April    6  1743.45        $
3  2021  April    7  1737.28        $
2  2021  April    8  1755.94        $
1  2021  April    9  1743.10        $
0  2021  April   12  1733.14        $

In [8]:
#dfc = pd.read_pickle("goldprices_csv.pkl")
#dfc.head()

   year     month  day  price currency
0  1950   January   15  34.73        $
1  1950  February   15  34.73        $
2  1950     March   15  34.73        $
3  1950     April   15  34.73        $
4  1950       May   15  34.73        $

In [9]:
#df_total = pd.concat([dfc, dfs])
#df_total = df_total.reset_index(drop = True)
#df_total.drop_duplicates(inplace=True)
#df_total.tail(60)

     year      month  day    price currency
828  2019    January   15  1291.63        $
829  2019   February   15  1319.76        $
830  2019      March   15  1302.29        $
831  2019      April   15  1287.65        $
832  2019        May   15  1282.46        $
833  2019       June   15  1358.49        $
834  2019       July   15  1414.61        $
835  2019     August   15  1497.10        $
836  2019  September   15  1510.34        $
837  2019    October   15  1494.76        $
838  2019   November   15  1471.92        $
839  2019   December   15  1480.02        $
840  2020    January   15  1560.67        $
841  2020   February   15  1598.82        $
842  2020      March   15  1593.76        $
843  2020      April   15  1680.03        $
844  2020        May   15  1715.70        $
845  2020       June   15  1734.03        $
846  2020       July   15  1840.81        $
847  2021   February   15  1818.51        $
848  2021   February   16  1794.44        $
849  2021   February   17  1774.78        $
850  2021   February   18  1775.57        $
851  2021   February   19  1782.25        $
852  2021   February   22  1809.07        $
853  2021   February   23  1805.19        $
854  2021   February   24  1805.07        $
855  2021   February   25  1769.91        $
856  2021   February   26  1732.60        $
857  2021      March    1  1724.44        $
858  2021      March    2  1737.94        $
859  2021      March    3  1709.61        $
860  2021      March    4  1698.08        $
861  2021      March    5  1700.71        $
862  2021      March    8  1683.23        $
863  2021      March    9  1715.50        $
864  2021      March   10  1726.40        $
865  2021      March   11  1722.44        $
866  2021      March   12  1724.89        $
867  2021      March   15  1731.12        $
868  2021      March   16  1730.45        $
869  2021      March   17  1747.06        $
870  2021      March   18  1736.10        $
871  2021      March   19  1744.74        $
872  2021      March   22  1739.35        $
873  2021      March   23  1726.50        $
874  2021      March   24  1734.26        $
875  2021      March   25  1727.91        $
876  2021      March   26  1731.97        $
877  2021      March   29  1711.99        $
878  2021      March   30  1684.80        $
879  2021      March   31  1707.01        $
880  2021      April    1  1730.18        $
881  2021      April    2  1728.84        $
882  2021      April    5  1728.44        $
883  2021      April    6  1743.45        $
884  2021      April    7  1737.28        $
885  2021      April    8  1755.94        $
886  2021      April    9  1743.10        $
887  2021      April   12  1733.14        $

In [10]:
#df_total.to_pickle("./goldprices.pkl")